[Unit]
Description=service to run the wecanmusic system, starting with conductor.node.js
Documentation=https://github.com/donundeen/wecanmusicprojects
After=network.target

[Service]
Type=simple
PIDFile=/var/run/wecanmusic.pid
WorkingDirectory=/home/pi/wecanmusic/server
Restart=on-failure
RestartSec=4
ExecStart=/usr/bin/taskset -c 2 /usr/bin/node conductor.node.js

[Install]
WantedBy=default.target