[Unit]
Description=service to run the wecanmusic system, starting with conductor.node.js
Documentation=https://github.com/donundeen/wecanmusicprojects
After=network.target

[Service]
Type=simple
PIDFile=/var/run/wecanmusic.pid
Restart=on-failure
RestartSec=4
ExecStart=/home/pi/wecanmusic/server/runwecanmusic.sh

[Install]
WantedBy=default.target