div{
    /* border:1px solid red; */
}

.container{
    display:flex;
    width: 95%;
    height: 95%;
    margin: auto;
    justify-content: center;
}

.column{
    border:1 px solid red;
}

.buttonSet {
    display: flex;
/*    width: 65%;*/
    max-height: 50px;
    justify-content: center;   
}

.buttonSet .item{
    border: 1px solid black;
    border-radius: 10px;
    margin: 3px;
    padding: .5em;
    text-align: center;
}
.scorePerfSelection{
    height:fit-content;
    margin-bottom: 1em;

}
.scorePerfSelection .item{
    padding:unset;
    padding-top: .1em;
    padding-left: .5em;
    padding-right: .5em;
    height:fit-content;
}
.scorePerfSelection .item .centerMe{
    padding:unset;
    margin-top: .7em;
    padding-left: .5em;
    padding-right: .5em;
    border:1px solid purple;
}

  
.line { 
    display:block;
}

.highlight {
    border: 1px solid #f00
}

.curBeat {
    border: 1px solid rgb(0, 0, 255);
    background-color: rgb(199, 199, 248);
    font-weight: bold;
}

.instruments{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5em;
}

.instrument {
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.instrument-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0.5em 0.75em;
    background: #f0f0f0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
}

.instrument-header:hover {
    background: #e5e5e5;
}

.instrument-header-name,
.instrument-header-makenote {
    display: inline-flex;
    align-items: center;
    gap: 0.35em;
}

.instrument-header-name { font-weight: bold; }

.instrument-header-makenote label,
.instrument-header-name label {
    margin: 0;
    font-weight: normal;
    color: #555;
}

.instrument-header-chevron {
    margin-left: auto;
    font-size: 0.75em;
    transition: transform 0.2s ease;
}

.instrument.collapsed .instrument-header-chevron {
    transform: rotate(-90deg);
}

.instrument-body {
    padding: 0.5em 0.75em;
    background: #fff;
}

.instrument.collapsed .instrument-body {
    display: none;
}

.instrument.copyMe {
    display: none !important;
}


.button {
    border-radius: 5px;
    border: 1px solid black;
    background-color: bisque;
    cursor: pointer;
}

.button:hover{
    background-color: lightgrey;
}

.button:active{
    background-color: rgb(43, 186, 226);
}