div{
    /* border:1px solid red; */
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 95%;
    margin-left: 0;
    margin-right: auto;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
    box-sizing: border-box;
}

.column{
    border: 1px solid red;
    box-sizing: border-box;
}



.column1{
    flex: 1 1 55%;
    max-width: calc(100% - 600px - 1em);
    min-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#transportDiv{
    min-width: max-content;
}

.column1 .scoreEditor,
.column1 .performanceManager{
    min-width: 0;
}

.column2{
    flex: 1 1 300px;
    min-width: 300px;
    max-width: 100%;
}

.scoreEditor {
    display: flex;
    justify-content: flex-start;
}

.scoreEditor .score {
    margin-left: 0;
    margin-right: auto;
}

.buttonSet {
    display: flex;
    max-height: 50px;
    justify-content: flex-start;
}

.buttonSet .item{
    border: 1px solid black;
    border-radius: 10px;
    margin: 3px;
    padding: .5em;
    text-align: center;
}
.scorePerfSelection{
    height:fit-content;
    margin-bottom: 1em;

}
.scorePerfSelection .item{
    padding:unset;
    padding-top: .1em;
    padding-left: .5em;
    padding-right: .5em;
    height:fit-content;
}
.scorePerfSelection .item .centerMe{
    padding:unset;
    margin-top: .7em;
    padding-left: .5em;
    padding-right: .5em;
    border:1px solid purple;
}

  
.line { 
    display:block;
}

.highlight {
    border: 1px solid #f00
}

.curBeat {
    border: 1px solid rgb(0, 0, 255);
    background-color: rgb(199, 199, 248);
    font-weight: bold;
}

.instruments{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5em;
    align-content: flex-start;
}

.instrument {
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    min-width: 280px;
    max-width: 380px;
    flex: 1 1 280px;
}

.instrument-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0.5em 0.75em;
    background: #f0f0f0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
}

.instrument-header:hover {
    background: #e5e5e5;
}

.instrument-header-name,
.instrument-header-makenote {
    display: inline-flex;
    align-items: center;
    gap: 0.35em;
}

.instrument-header-name { font-weight: bold; }

.instrument-header-makenote label,
.instrument-header-name label {
    margin: 0;
    font-weight: normal;
    color: #555;
}

.instrument-header-chevron {
    margin-left: auto;
    font-size: 0.75em;
    transition: transform 0.2s ease;
}

.instrument.collapsed .instrument-header-chevron {
    transform: rotate(-90deg);
}

.instrument-body {
    padding: 0.5em 0.75em;
    background: #fff;
}

.instrument.collapsed .instrument-body {
    display: none;
}

.instrument.copyMe {
    display: none !important;
}


.button {
    border-radius: 5px;
    border: 1px solid black;
    background-color: bisque;
    cursor: pointer;
}

.button:hover{
    background-color: lightgrey;
}

.button:active{
    background-color: rgb(43, 186, 226);
}